@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	-webkit-font-smoothing: antialiased;
}

a,
button {
	cursor: pointer;
}

html::-webkit-scrollbar {
	width: 5px;
}

// scrollbar back
html::-webkit-scrollbar-thumb {
	background: #00b37e;
}

// scrollbar line
html::-webkit-scrollbar-track {
	background: #202024;
	width: 3px;
}
