@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	-webkit-font-smoothing: antialiased;
}

:focus {
	outline: transparent;
	box-shadow: 0 0 0 2px #00875f;
}

.commentForm:focus-within div {
	visibility: visible;
	max-height: none;
}

a,
button {
	cursor: pointer;
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	background: #8d8d99;
}

body::-webkit-scrollbar-thumb {
	background-color: #00875f;
	width: 3px;
}
